.footer {
    text-align: center;
    padding: 2em 0;
    background: $darkModerateCyan;
    
    &__list {
        display: flex;
        justify-content: center;
        list-style-type: none;

        a {
            display: inline-block;
            text-decoration: none;
            color: $darkBlue;
            font-size: $font-med;
            margin-right: 1em;
            padding: 1em 0;
        }
    }
    &__social-icons {
        img {
            margin-right: 1em;
        }
    }
}