.testimonials {
    padding: 3em 0;
    text-align: center;



    h2 {
        font-size: $font-lg;
        margin-bottom: 2em;
        font-family: $fraunces;
        color: $veryDarkGrayishBlue;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    &__wrapper {
        @include breakpoint-up(medium) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2em;
        }
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 2em;
        }
        p {
            font-size: $font-med;
            color: $darkBlue;
            line-height: 1.4;
            margin-bottom: 3em;
        }

        h3 {
            font-family: $fraunces;
            font-weight: 900;
            font-size: $font-lg;
            margin-bottom: 1em;
        }
        p.testimonial__description {
            font-size: $font-med;
            color: $veryDarkGrayishBlue;
        }
    }
}